html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

li,
ul {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/bg.jpg");
  font-family: sans-serif; }

.container {
  *zoom: 1;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto; }
  .container:before,
  .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.bottom {
  height: 4px;
  background-color: rgba(250, 250, 250, 0.4); }

.social {
  float: right;
  margin-bottom: 20px; }

.social span {
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 200px; }

.social-links li {
  display: inline-block;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  margin-left: 7px;
  height: 60px; }

ul.nav {
  *zoom: 1;
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both; }
  ul.nav:before,
  ul.nav:after {
    content: "";
    display: table; }
  ul.nav:after {
    clear: both; }

.nav-links {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #b4292e;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  line-height: 40px; }
  .nav-links:last-child {
    margin-right: 0; }

.nav-links span {
  text-transform: uppercase;
  font-size: 17px;
  color: #ffffff; }

.hero {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid #fff;
  background: url("../assets/top-image.png");
  height: 355px;
  background-position: 25% 20%;
  position: relative;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4); }

.hero img {
  width: 100%;
  height: 100%;
  opacity: .4; }

img.logo {
  position: absolute;
  height: auto;
  width: auto;
  top: 30px;
  left: 30px;
  opacity: 1; }

.carousel {
  width: 75px;
  margin: 20px auto; }

.carousel span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 5px solid #ffffff;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4); }

.carousel-color-white {
  background-color: #fff; }

.carousel-color-red {
  background-color: red; }

.news-container {
  *zoom: 1;
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  .news-container:before,
  .news-container:after {
    content: "";
    display: table; }
  .news-container:after {
    clear: both; }

.news {
  color: #32342e;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #ffffff;
  padding: 15px 30px;
  height: 385px;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  position: relative; }
  .news:last-child {
    margin-right: 0; }

time {
  color: gray;
  font-size: .9em; }

.read-more {
  font-size: 1em;
  color: #ce0e2d;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  position: absolute;
  bottom: 15px;
  left: 112px; }

.profiles {
  background-color: #000000;
  min-height: 300px;
  border: 8px solid #fff; }

.profile-container {
  *zoom: 1;
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  .profile-container:before,
  .profile-container:after {
    content: "";
    display: table; }
  .profile-container:after {
    clear: both; }

.left-profiles {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 100%; }
  .left-profiles:last-child {
    margin-right: 0; }

.top-left-profiles {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%; }
  .top-left-profiles:last-child {
    margin-right: 0; }

.num4 {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%; }
  .num4:last-child {
    margin-right: 0; }

.skateboards {
  margin: 30px 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  *zoom: 1; }
  .skateboards:last-child {
    margin-right: 0; }
  .skateboards:before,
  .skateboards:after {
    content: "";
    display: table; }
  .skateboards:after {
    clear: both; }

.skateboards ul {
  margin-left: 30px;
  -webkit-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  -moz-box-shadow: 0 5px rgba(250, 250, 250, 0.4);
  box-shadow: 0 5px rgba(250, 250, 250, 0.4); }

.skateboards li {
  display: inline-block;
  padding: 1em; }

.contact {
  *zoom: 1;
  margin-top: 113px;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #949494; }
  .contact:before,
  .contact:after {
    content: "";
    display: table; }
  .contact:after {
    clear: both; }
  .contact:before,
  .contact:after {
    content: "";
    display: table; }
  .contact:after {
    clear: both; }

.nav2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .nav2:last-child {
    margin-right: 0; }

.nav2 li {
  text-decoration: none;
  display: inline-block;
  margin-left: 5px; }

.contact-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-transform: uppercase; }
  .contact-info:last-child {
    margin-right: 0; }

.contact-info div {
  border: 1px solid grey;
  height: 40px;
  -webkit-box-shadow: inset 3px 4px 0px grey;
  -moz-box-shadow: inset 3px 4px 0px grey;
  box-shadow: inset 3px 4px 0px grey;
  padding-right: 20px;
  margin: 9px 25px 10px 0; }

.contact-info span {
  padding-left: 42px;
  line-height: 42px; }

div.message {
  height: 100px; }
